<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="p.css">

</head>

<body>
    <a href="/homepage.html">
        <p
            style="text-decoration: none; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; text-align: center; border-radius: 20px; height: 30px; width: 80px; background-color: black; color: aliceblue;">
            back</p>
    </a>
    <table>
        <tr>
            <td>
                <!-- rahul -->
                <div class="container">

                    <div class=" d-flex ">
                        <div class="pic">
                            <img src="./r3.jpg" class="pic" alt>
                        </div>
                        <div class="social">
                            <a href="https://www.x.com">
                                <img src="./twitter.png" alt="">
                            </a>
                            <a href="https://www.facebook.com">
                                <img src="./facebook.png" alt="">
                            </a>
                            <a href="https://www.instagram.com">
                                <img src="./instagram.png" alt="">
                            </a>
                            <a href="https://www.linkedin.com">
                                <img src="./linkedin.png" alt="">
                            </a>
                        </div>
                    </div>
                    <div class="profile-info">
                        <h3>Rahul Mali</h3>
                        <div class="info-item">
                            <span>Email:</span>
                            <span class="value">rahulmali10394@gmail.com
                            </span>
                        </div>
                        <div class="info-item">
                            <span>Phone:</span>
                            <span class="value">8000973568
                            </span>
                        </div>
                        <div class="info-item">
                            <span>Age:</span>
                            <span class="value">21
                            </span>
                        </div>
                        <div class="divider"></div>

                        <div class="info-item Qualifications">
                            <span>
                                Qualifications:
                            </span>
                            <ol>
                                <li class="value">10th</li>
                                <li class="value">12th (P.C.M.)</li>
                                <li class="value">Diploma (C.S.E)</li>
                                <li class="value">Pursuing b.tech (C.S.E.)</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </td>
            <td>

                <!-- dhruv  -->
                <div class="container d-card" id="dhruv">

                    <div class=" d-flex ">
                        <div class="pic">
                            <img src="./d.jpg" class="pic" alt>
                        </div>
                        <div class="social">
                            <a href="https://www.x.com">
                                <img src="./twitter.png" alt="">
                            </a>
                            <a href="https://www.facebook.com">
                                <img src="./facebook.png" alt="">
                            </a>
                            <a href="https://www.instagram.com">
                                <img src="./instagram.png" alt="">
                            </a>
                            <a href="https://www.linkedin.com">
                                <img src="./linkedin.png" alt="">
                            </a>
                        </div>
                    </div>
                    <div class="profile-info">
                        <h3>Dhruv Chandreshbhai Patel</h3>
                        <div class="info-item">
                            <span>Email:</span>
                            <span class="value">dhruvp2303@gmail.com
                            </span>
                        </div>
                        <div class="info-item">
                            <span>Phone:</span>
                            <span class="value">8849058334
                            </span>
                        </div>
                        <div class="info-item">
                            <span>Age:</span>
                            <span class="value">18
                            </span>
                        </div>
                        <div class="divider"></div>

                        <div class="info-item Qualifications">
                            <span>
                                Qualifications:
                            </span>
                            <ol>
                                <li class="value">10th</li>
                                <li class="value">Diploma (C.S.E)</li>
                                <li class="value">Pursuing b.tech (C.S.E.)</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td>

                <!-- kathan -->
                <div class="container d-card" id="dhruv">

                    <div class=" d-flex ">
                        <div class="pic">
                            <img src="./kathan.webp" class="pic" alt>
                        </div>
                        <div class="social">
                            <a href="https://www.x.com">
                                <img src="./twitter.png" alt="">
                            </a>
                            <a href="https://www.facebook.com">
                                <img src="./facebook.png" alt="">
                            </a>
                            <a href="https://www.instagram.com">
                                <img src="./instagram.png" alt="">
                            </a>
                            <a href="https://www.linkedin.com">
                                <img src="./linkedin.png" alt="">
                            </a>
                        </div>
                    </div>
                    <div class="profile-info">
                        <h3>Kathan Patel</h3>
                        <div class="info-item">
                            <span>Email:</span>
                            <span class="value">kathan1555patel@gmail.com
                            </span>
                        </div>
                        <div class="info-item">
                            <span>Phone:</span>
                            <span class="value">942753650
                            </span>
                        </div>
                        <div class="info-item">
                            <span>Age:</span>
                            <span class="value">20
                            </span>
                        </div>
                        <div class="divider"></div>

                        <div class="info-item Qualifications">
                            <span>
                                Qualifications:
                            </span>
                            <ol>
                                <li class="value">10th</li>
                                <li class="value">Diploma (C.S.E)</li>
                                <li class="value">Pursuing b.tech (C.S.E.)</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </td>
            <td>

                <!-- vedant  -->
                <div class="container d-card" id="dhruv">

                    <div class=" d-flex ">
                        <div class="pic">
                            <img src="./vedant.jpg" class="pic" alt>
                        </div>
                        <div class="social">
                            <a href="https://www.x.com">
                                <img src="./twitter.png" alt="">
                            </a>
                            <a href="https://www.facebook.com">
                                <img src="./facebook.png" alt="">
                            </a>
                            <a href="https://www.instagram.com">
                                <img src="./instagram.png" alt="">
                            </a>
                            <a href="https://www.linkedin.com">
                                <img src="./linkedin.png" alt="">
                            </a>
                        </div>
                    </div>
                    <div class="profile-info">
                        <h3>Vedant Somani</h3>
                        <div class="info-item">
                            <span>Email:</span>
                            <span class="value">vedant.somani0342006@gmail.com
                            </span>
                        </div>
                        <div class="info-item">
                            <span>Phone:</span>
                            <span class="value">9327764463
                            </span>
                        </div>
                        <div class="info-item">
                            <span>Age:</span>
                            <span class="value">19
                            </span>
                        </div>
                        <div class="divider"></div>

                        <div class="info-item Qualifications">
                            <span>
                                Qualifications:
                            </span>
                            <ol>
                                <li class="value">10th</li>
                                <li class="value">Diploma (C.S.E)</li>
                                <li class="value">Pursuing b.tech (C.S.E.)</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </td>
        </tr>

        <tr>
            <td>
                <!-- smit -->
                <div class="container d-card" id="dhruv">

                    <div class=" d-flex ">
                        <div class="pic">
                            <img src="./smit.png" class="pic" alt>
                        </div>
                        <div class="social">
                            <a href="https://www.x.com">
                                <img src="./twitter.png" alt="">
                            </a>
                            <a href="https://www.facebook.com">
                                <img src="./facebook.png" alt="">
                            </a>
                            <a href="https://www.instagram.com">
                                <img src="./instagram.png" alt="">
                            </a>
                            <a href="https://www.linkedin.com">
                                <img src="./linkedin.png" alt="">
                            </a>
                        </div>
                    </div>
                    <div class="profile-info">
                        <h3>Smit Shah</h3>
                        <div class="info-item">
                            <span>Email:</span>
                            <span class="value">@gmail.com
                            </span>
                        </div>
                        <div class="info-item">
                            <span>Phone:</span>
                            <span class="value">*********
                            </span>
                        </div>
                        <div class="info-item">
                            <span>Age:</span>
                            <span class="value">-
                            </span>
                        </div>
                        <div class="divider"></div>

                        <div class="info-item Qualifications">
                            <span>
                                Qualifications:
                            </span>
                            <ol>
                                <li class="value">10th</li>
                                <li class="value">Diploma (C.S.E)</li>
                                <li class="value">Pursuing b.tech (C.S.E.)</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </td>
            <td>

                <!-- yashvi  -->
                <div class="container d-card">

                    <div class=" d-flex ">
                        <div class="pic">
                            <img src="./yashvi.jpg" class="pic" alt>
                        </div>
                        <div class="social">
                            <a href="https://www.x.com">
                                <img src="./twitter.png" alt="">
                            </a>
                            <a href="https://www.facebook.com">
                                <img src="./facebook.png" alt="">
                            </a>
                            <a href="https://www.instagram.com">
                                <img src="./instagram.png" alt="">
                            </a>
                            <a href="https://www.linkedin.com">
                                <img src="./linkedin.png" alt="">
                            </a>
                        </div>
                    </div>
                    <div class="profile-info">
                        <h3>Yashvi Soni</h3>
                        <div class="info-item">
                            <span>Email:</span>
                            <span class="value">@gmail.com
                            </span>
                        </div>
                        <div class="info-item">
                            <span>Phone:</span>
                            <span class="value">**********
                            </span>
                        </div>
                        <div class="info-item">
                            <span>Age:</span>
                            <span class="value">-
                            </span>
                        </div>
                        <div class="divider"></div>

                        <div class="info-item Qualifications">
                            <span>
                                Qualifications:
                            </span>
                            <ol>
                                <li class="value">10th</li>
                                <li class="value">Diploma (C.S.E)</li>
                                <li class="value">Pursuing b.tech (C.S.E.)</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <!-- nishita -->
                <div class="container d-card" id="dhruv">

                    <div class=" d-flex ">
                        <div class="pic">
                            <img src="./nishita.jpg" class="pic" alt>
                        </div>
                        <div class="social">
                            <a href="https://www.x.com">
                                <img src="./twitter.png" alt="">
                            </a>
                            <a href="https://www.facebook.com">
                                <img src="./facebook.png" alt="">
                            </a>
                            <a href="https://www.instagram.com">
                                <img src="./instagram.png" alt="">
                            </a>
                            <a href="https://www.linkedin.com">
                                <img src="./linkedin.png" alt="">
                            </a>
                        </div>
                    </div>
                    <div class="profile-info">
                        <h3>Nishita Shah</h3>
                        <div class="info-item">
                            <span>Email:</span>
                            <span class="value">shahnishita192@gmail.com
                            </span>
                        </div>
                        <div class="info-item">
                            <span>Phone:</span>
                            <span class="value">*********
                            </span>
                        </div>
                        <div class="info-item">
                            <span>Age:</span>
                            <span class="value">21
                            </span>
                        </div>
                        <div class="divider"></div>

                        <div class="info-item Qualifications">
                            <span>
                                Qualifications:
                            </span>
                            <ol>
                                <li class="value">10th</li>
                                <li class="value">Diploma (C.S.E)</li>
                                <li class="value">Pursuing b.tech (C.S.E.)</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </td>
            <td>

                <!-- rishi  -->
                <div class="container d-card" id="dhruv">

                    <div class=" d-flex ">
                        <div class="pic">
                            <img src="./rishi.jpg" class="pic" alt>
                        </div>
                        <div class="social">
                            <a href="https://www.x.com">
                                <img src="./twitter.png" alt="">
                            </a>
                            <a href="https://www.facebook.com">
                                <img src="./facebook.png" alt="">
                            </a>
                            <a href="https://www.instagram.com">
                                <img src="./instagram.png" alt="">
                            </a>
                            <a href="https://www.linkedin.com">
                                <img src="./linkedin.png" alt="">
                            </a>
                        </div>
                    </div>
                    <div class="profile-info">
                        <h3>Rishi J Koshti</h3>
                        <div class="info-item">
                            <span>Email:</span>
                            <span class="value">rishikoshti2001@gmail.com
                            </span>
                        </div>
                        <div class="info-item">
                            <span>Phone:</span>
                            <span class="value">940967033
                            </span>
                        </div>
                        <div class="info-item">
                            <span>Age:</span>
                            <span class="value">21
                            </span>
                        </div>
                        <div class="divider"></div>

                        <div class="info-item Qualifications">
                            <span>
                                Qualifications:
                            </span>
                            <ol>
                                <li class="value">10th</li>
                                <li class="value">Diploma (C.S.E)</li>
                                <li class="value">Pursuing b.tech (C.S.E.)</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <!-- Adarsh -->
                <div class="container d-card" id="dhruv">

                    <div class=" d-flex ">
                        <div class="pic">
                            <img src="./adarsh.jpg" class="pic" alt>
                        </div>
                        <div class="social">
                            <a href="https://www.x.com">
                                <img src="./twitter.png" alt="">
                            </a>
                            <a href="https://www.facebook.com">
                                <img src="./facebook.png" alt="">
                            </a>
                            <a href="https://www.instagram.com">
                                <img src="./instagram.png" alt="">
                            </a>
                            <a href="https://www.linkedin.com">
                                <img src="./linkedin.png" alt="">
                            </a>
                        </div>
                    </div>
                    <div class="profile-info">
                        <h3>Adarsh Pathak</h3>
                        <div class="info-item">
                            <span>Email:</span>
                            <span class="value">@gmail.com
                            </span>
                        </div>
                        <div class="info-item">
                            <span>Phone:</span>
                            <span class="value">769832992
                            </span>
                        </div>
                        <div class="info-item">
                            <span>Age:</span>
                            <span class="value">18
                            </span>
                        </div>
                        <div class="divider"></div>

                        <div class="info-item Qualifications">
                            <span>
                                Qualifications:
                            </span>
                            <ol>
                                <li class="value">10th</li>
                                <li class="value">Diploma (C.S.E)</li>
                                <li class="value">Pursuing b.tech (C.S.E.)</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </td>
            <td>

                <!-- jenil  -->
                <div class="container d-card" id="dhruv">

                    <div class=" d-flex ">
                        <div class="pic">
                            <img src="./jenil.png" class="pic" alt>
                        </div>
                        <div class="social">
                            <a href="https://www.x.com">
                                <img src="./twitter.png" alt="">
                            </a>
                            <a href="https://www.facebook.com">
                                <img src="./facebook.png" alt="">
                            </a>
                            <a href="https://www.instagram.com">
                                <img src="./instagram.png" alt="">
                            </a>
                            <a href="https://www.linkedin.com">
                                <img src="./linkedin.png" alt="">
                            </a>
                        </div>
                    </div>
                    <div class="profile-info">
                        <h3>Jenil Thaker</h3>
                        <div class="info-item">
                            <span>Email:</span>
                            <span class="value">@gmail.com
                            </span>
                        </div>
                        <div class="info-item">
                            <span>Phone:</span>
                            <span class="value">8*********
                            </span>
                        </div>
                        <div class="info-item">
                            <span>Age:</span>
                            <span class="value">-
                            </span>
                        </div>
                        <div class="divider"></div>

                        <div class="info-item Qualifications">
                            <span>
                                Qualifications:
                            </span>
                            <ol>
                                <li class="value">10th</li>
                                <li class="value">Diploma (C.S.E)</li>
                                <li class="value">Pursuing b.tech (C.S.E.)</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <!-- harsh -->
                <div class="container d-card" id="dhruv">

                    <div class=" d-flex ">
                        <div class="pic">
                            <img src="./dhruv.jpg" class="pic" alt>
                        </div>
                        <div class="social">
                            <a href="https://www.x.com">
                                <img src="./twitter.png" alt="">
                            </a>
                            <a href="https://www.facebook.com">
                                <img src="./facebook.png" alt="">
                            </a>
                            <a href="https://www.instagram.com">
                                <img src="./instagram.png" alt="">
                            </a>
                            <a href="https://www.linkedin.com">
                                <img src="./linkedin.png" alt="">
                            </a>
                        </div>
                    </div>
                    <div class="profile-info">
                        <h3>Harsh Trivedi</h3>
                        <div class="info-item">
                            <span>Email:</span>
                            <span class="value">@gmail.com
                            </span>
                        </div>
                        <div class="info-item">
                            <span>Phone:</span>
                            <span class="value">8********9
                            </span>
                        </div>
                        <div class="info-item">
                            <span>Age:</span>
                            <span class="value">-
                            </span>
                        </div>
                        <div class="divider"></div>

                        <div class="info-item Qualifications">
                            <span>
                                Qualifications:
                            </span>
                            <ol>
                                <li class="value">10th</li>
                                <li class="value">Diploma (C.S.E)</li>
                                <li class="value">Pursuing b.tech (C.S.E.)</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </td>
            <td>


                <!-- Om patel  -->
                <div class="container d-card" id="dhruv">

                    <div class=" d-flex ">
                        <div class="pic">
                            <img src="./o.jpg" class="pic" alt>
                        </div>
                        <div class="social">
                            <a href="https://www.x.com">
                                <img src="./twitter.png" alt="">
                            </a>
                            <a href="https://www.facebook.com">
                                <img src="./facebook.png" alt="">
                            </a>
                            <a href="https://www.instagram.com">
                                <img src="./instagram.png" alt="">
                            </a>
                            <a href="https://www.linkedin.com">
                                <img src="./linkedin.png" alt="">
                            </a>
                        </div>
                    </div>
                    <div class="profile-info">
                        <h3>Om Patel</h3>
                        <div class="info-item">
                            <span>Email:</span>
                            <span class="value">patelom@gmail.com
                            </span>
                        </div>
                        <div class="info-item">
                            <span>Phone:</span>
                            <span class="value">7383233079
                            </span>
                        </div>
                        <div class="info-item">
                            <span>Age:</span>
                            <span class="value">20
                            </span>
                        </div>
                        <div class="divider"></div>

                        <div class="info-item Qualifications">
                            <span>
                                Qualifications:
                            </span>
                            <ol>
                                <li class="value">10th</li>
                                <li class="value">Diploma (C.S.E)</li>
                                <li class="value">Pursuing b.tech (C.S.E.)</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </td>
        <tr>
            <td>
                <!-- harsh -->
                <div class="container d-card" id="dhruv">

                    <div class=" d-flex ">
                        <div class="pic">
                            <img src="./v.jpg" class="pic" alt>
                        </div>
                        <div class="social">
                            <a href="https://www.x.com">
                                <img src="./twitter.png" alt="">
                            </a>
                            <a href="https://www.facebook.com">
                                <img src="./facebook.png" alt="">
                            </a>
                            <a href="https://www.instagram.com">
                                <img src="./instagram.png" alt="">
                            </a>
                            <a href="https://www.linkedin.com">
                                <img src="./linkedin.png" alt="">
                            </a>
                        </div>
                    </div>
                    <div class="profile-info">
                        <h3>unknown</h3>
                        <div class="info-item">
                            <span>Email:</span>
                            <span class="value">@gmail.com
                            </span>
                        </div>
                        <div class="info-item">
                            <span>Phone:</span>
                            <span class="value">8********9
                            </span>
                        </div>
                        <div class="info-item">
                            <span>Age:</span>
                            <span class="value">-
                            </span>
                        </div>
                        <div class="divider"></div>

                        <div class="info-item Qualifications">
                            <span>
                                Qualifications:
                            </span>
                            <ol>
                                <li class="value">10th</li>
                                <li class="value">Diploma (C.S.E)</li>
                                <li class="value">Pursuing b.tech (C.S.E.)</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </td>
            <td>
                <!-- harsh -->
                <div class="container d-card" id="dhruv">

                    <div class=" d-flex ">
                        <div class="pic">
                            <img src="./j.jpg" class="pic" alt>
                        </div>
                        <div class="social">
                            <a href="https://www.x.com">
                                <img src="./twitter.png" alt="">
                            </a>
                            <a href="https://www.facebook.com">
                                <img src="./facebook.png" alt="">
                            </a>
                            <a href="https://www.instagram.com">
                                <img src="./instagram.png" alt="">
                            </a>
                            <a href="https://www.linkedin.com">
                                <img src="./linkedin.png" alt="">
                            </a>
                        </div>
                    </div>
                    <div class="profile-info">
                        <h3>unknown</h3>
                        <div class="info-item">
                            <span>Email:</span>
                            <span class="value">@gmail.com
                            </span>
                        </div>
                        <div class="info-item">
                            <span>Phone:</span>
                            <span class="value">8********9
                            </span>
                        </div>
                        <div class="info-item">
                            <span>Age:</span>
                            <span class="value">-
                            </span>
                        </div>
                        <div class="divider"></div>

                        <div class="info-item Qualifications">
                            <span>
                                Qualifications:
                            </span>
                            <ol>
                                <li class="value">10th</li>
                                <li class="value">Diploma (C.S.E)</li>
                                <li class="value">Pursuing b.tech (C.S.E.)</li>
                            </ol>
                        </div>
                    </div>
                </div>


            </td>

        </tr>




    </table>


    <script src="p.js"></script>
</body>

</html>